<div id="greater_dates" , class="h-100 bg-teal-lightest font-sans">
  <div id="dates" class="grid grid-cols-4 gap-4 items-center md:px-80">
    <div class="col-span-2 text-center">
      <h3>Date Name</h3>
    </div>
    <div class="col-span-2 text-center">
      <h3>Upvotes</h3>
    </div>
    {% for date in dates %}
    <div class="col-span-3 w-full p-2 shadow rounded items-center">
      <p class="pl-2 text-left allign-middle">{{date.name}}</p>
    </div>
    <div class="col-span-1 flex items-center">
      <button
        class="allign-middle flex-grow p-2 ml-2 mr-2 border-2 rounded hover:bg-emerald-100 text-grey border-grey hover:bg-grey"
        hx-post="dates/{{date.id}}/increment" hx-target="#greater_dates" hx-trigger="click" hx-swap="outerHTML">
        +
        </buttonclass>
        <button
          class="allign-middle flex-growp p-2 ml-2 mr-2 border-2 rounded hover:bg-red-100 text-grey border-grey hover:bg-grey"
          hx-post="dates/{{date.id}}/decrement" hx-target="#greater_dates" hx-trigger="click" hx-swap="outerHTML">
          -
        </button>
        <button
          class="allign-middle flex-grow p-2 ml-2 mr-2 border-2 rounded hover:font-bold text-red-500 border-grey hover:bg-grey"
          hx-post="dates/{{date.id}}/remove" hx-target="#greater_dates" hx-trigger="click" hx-swap="outerHTML">
          x
        </button>
        <span class="w-40 allign-middle"> {{date.count}}</span>
    </div>
    {% if date.description_bool %}
    <div class="col-span-3">
      <p class="text-left shadow rounded">
        {{date.description}}
      </p>
    </div>
    <div class="col-span-1"> </div>
    {% else %}
    {% endif %}
    {% endfor %}
    <div class="col-span-4">
      <form id="date_add" class="px-3 grid grid-cols-4 ">
        <input placeholder="Enter Date Idea &#x1F60D;" type="text" name="new_date"
          class="text-left col-span-3 shadow rounded border-2 mr-2 p-2 allign-middle" />
        <button hx-post="dates/new_date" hx-target="#greater_dates" hx-trigger="click" hx-swap="outerHTML"
          class="text-grey text-center allign-middle col-span-1 p-2 mr-2 border-2 rounded hover:bg-cyan-100 border-grey">
          add
        </button>
      </form>
    </div>
  </div>
</div>
