<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://unpkg.com/htmx.org@1.9.6"
        integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
        crossorigin="anonymous"></script>
    <title>Dates Index</title>
</head>
    <body>
        <div id="content">
        Dates Website
        </div>
    <div>
      {% for date in dates %}
      <div id="date container">
        {{date.name}} 
        <button hx-post="/date_button_{{date.name}}", hx-target="#date container", hx-trigger="click">
          +
        </button>
        <button type="">
          -
        </button>
        {{date.count}}
      </div>
      {% endfor %}
    </div>
    </body>

</html>
