<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://unpkg.com/htmx.org@1.9.9" integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX" crossorigin="anonymous"></script>
    <title>Dates Index</title>
</head>
    <body>
        <div id="content">
        Dates Website
        </div>
    <div>
      {% for date in dates %}
      <div id="date_container_{{loop.index0}}">
          {{date.name}} 
        <button hx-get="/date_button/{{date.name}}/{{loop.index0}}", hx-target="#date_container_{{loop.index0}}", hx-trigger="click", hx-swap="outerHTML">
            +
          </button>
        <button hx-post="/date_button/{{date.name}}/{{loop.index0}}", hx-target="#date_container_{{loop.index0}}", hx-trigger="click", hx-swap="outerHTML">
            -
          </button>
          {{date.count}}
        </div>
      {% endfor %}
    </div>
    </body>
</html>
